<div id="<%= dom_id document %>">

  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Attachment:</strong>
    <%= document.attachment_identifier %>
  </p>

</div>
